{
  "baseSalary": 50000,
  "bonus": 5000,
  "currency": "GBP",
  "currencySymbol": "£",
  "deservedEsppBuyPriceUsd": 34,
  "employersNicFactor": 0.862,
  "esppBuyPriceUsd": 34,
  "esppDiscountFactor": 0.85,
  "esppLimitUsd": 25000,
  "esppSalaryFactor": 0.15,
  "outputPath": "wedge_log.json",
  "quoteToken": "btgf9tf48v6thhaqadr0",
  "quoteUrl": "https://finnhub.io/api/v1/quote?symbol=$SYMBOL&token=$QUOTETOKEN",
  "rateToken": "0c002295388115a91edf",
  "rateUrl": "https://free.currconv.com/api/v7/convert?q=USD_$CURRENCY&compact=ultra&apiKey=$RATETOKEN",
  "targetUrl": "https://finnhub.io/api/v1/stock/price-target?symbol=$SYMBOL&token=$QUOTETOKEN",
  "rsuTotalShares": 500,
  "rsuVestingYears": 4,
  "symbol": "AAPL"
}